html{
  background-image: url(images/grass.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

.container{
  padding: 10px;
  background-color: lightgrey;
  width: 50%;
  margin: auto ;
  margin-top: 100px;
  margin-bottom: 80px;
  text-align: center;
}
