html{
  background-image: url(images/grass.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

.container{
  padding: 10px;
  background-color: lightgrey;
  width: 50%;
  margin: auto ;
  margin-top: 100px;
  margin-bottom: 80px;
  text-align: center;
}

#homeTitle{
  font-size:35px;
}

#hometext{
  font-size:18px;
}

.source{
  text-align: left;
}

.darstellung-titel{
  font-weight: bold;
  font-size: 35px;
}

.darstellung-text{
  margin-left: 5px;
  text-align: left;
  width: 65%;
  margin-right: 10%;
  font-size: 21px;
  word-wrap: break-word;
}
.darstellung-content img{
  width: 30%;
}
.darstellung-content{
  display: flex;
  width: 100%;
}

.btn{
  display: inline-block;
  font-size:21px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: grey;
}
