#bigtrail {
}

.two {
  fill: #10f6fc;
}

.traenke-border {
  fill: #8c3e13;
}

.two:hover {
  fill: blue;
}

#walzplatz {
}

#weide {
  stroke: #999;
  stroke-miterlimit: 10;
  stroke-width: 0.25px;
}

#gate {
  fill: #999;
}

#gate:hover {
  fill: blue;
}

.seven {
  stroke-miterlimit: 10;
  stroke-width: 0.25px;
  fill: #e8cd2a;
  stroke: #a3a3a3;
}

.seven:hover {
  fill: blue;
}

#stroh {
  stroke-miterlimit: 10;
  stroke-width: 0.25px;
  fill: #e8cd2a;
  stroke: #a3a3a3;
}

#stroh:hover {
  fill: blue;
}

#intBox {
  stroke: #603b0f;
  stroke-miterlimit: 10;
  stroke-width: 0.25px;
}

#schattenplatz {
  fill: #4a4a51;
}

#schattenplatz:hover {
  fill: blue;
}

#reithalle {
  stroke-miterlimit: 10;
  stroke-width: 0.25px;
  stroke: #512803;
}

#liegeplatz {
  stroke-miterlimit: 10;
  stroke-width: 0.25px;
  stroke: #512803;
}

.thirteen {
  stroke-miterlimit: 10;
  stroke-width: 0.25px;
  fill: #8c3e13;
  stroke: #d3d3d3;
}

.thirteen:hover {
  fill: blue;
}

svg {
  height: 450px;
  width: 100%;
  background-color: lightgrey;
}

img{
  height: 25px;
  width: 25px;
  padding-left: 10px;
}

.box a{
  display: inline-flex;
}

#answer{
  font-weight: bold;
  font-size: 30px;
}

#titel{
  font-weight: bold;
  font-size: 30px;
}

#besch {
  font-weight: bold;
  font-size: 30px;
  word-wrap: break-word;
}
